@import "tailwindcss";

body{
font-family: 'Inter', sans-serif;


}
.react-flow__node {
  transition: all 0.3s ease;
  transform-origin: center;
}

.react-flow__node:hover {
  transform: scale(1.8);
  filter: brightness(1.3);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
